<!DOCTYPE html> 
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./app.component.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="logo"><span>SLACA 2019</span></div>
        <img src="../assets/logo.svg">
        <div class="menu-item"><span>Apresentação</span></div>
        <div class="menu-item"><span>Comitês</span></div>
        <div class="menu-item"><span>Autores</span></div>
        <div class="menu-item"><span>Eixos Temáticos</span></div>
        <div class="menu-item" id="trabalho"><span> Trabalho</span></div>
        <div class="menu-item"><span>Contato</span></div>
      </div>
      <div class="container">
        <div class="header">
          <div class="header-text">
            <small>Anais do Simpósio Latino Americano de Ciências de Alimentos </small>
            <span class="m-0">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span>
            <small>ISSN: 1234-5678</small>
          </div>
            <div class="perfil-data">
              <div class="select-button">
                <label for="select-language"></label>
                <select id="select-language">
                  <option value="pt-br">PT-BR</option>
                  <option value="es">ES</option>
                  <option value="en">EN</option>
                </select>
              </div>
              <div class="perfil">
                <div class="wellcome">
                  <span>Bem-Vindo!</span>
                  <span>alguem12@galoascience.com</span>
                </div>
                <div><img src="../assets/perfil.svg"></div>
              </div>
          </div>
        </div>
        <div class="container-content">
          <div class="container-title">
            <div>
              <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
            </div>
            <div class="div-btns-quote">
              <div class="title-btns">
                <a class="btn-default" id="download-btn">Download</a>
                <a class="btn-default"><img src="../assets/favoritar.svg" width="19px" height="100%"></a>
                <a class="btn-default"><img src="../assets/doi.svg" width="19px" height="19px"></a> 
              </div>
              <a><span class="quote-link">Como citar este trabalho?</span></a>
            </div>
          </div>
          <div class="video-details">
            <div class="container-video">
              <div class="video-title">
                <h2 id="video-title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
              </div>
              <div class="video-profile">
                <div id="video-profile">
                  <span class="profile-name"><img class="image-video-perfil" src="../assets/perfil-video.svg">  Beatriz Christiane Melo</span>
                  <span class="local">FCA / Universidade Estadual de Campinas</span>
                </div>
              </div>
            </div>
            <div class="details-card">
              <div>
                <span class="details-header">Detalhes</span>
              </div>
              <div class="details-content">
                <div>
                  <span>Tipo de Apresentação: </span>
                  <span>Pôster</span>
                </div>
                <div>
                  <span>Eixo temático: </span>
                  <span>Alimentação e saúde (AS)</span>
                </div>
                <div>
                  <span>Palavras-chaves: </span>
                  <span>Alimentos funcionais, alimentação escolar.</span>
                </div>
              </div>
              <div class="details-authors">
                <span>Autores:</span>
                <div>
                  <span>Galileo Galilei¹</span>
                  <span>Berta Lange de Morretes²</span>
                  <span>Isaac Newton³</span>
                  <span>Cesar Lattes¹</span>
                  <span>Stephen Hawking⁴</span>
                </div>
              </div>
                <div class="details-footer">
                  <span>¹Universidade Estadual de Campinas</span>
                  <span>²Universidade de São Paulo</span>
                  <span>³Instituto Nacional de Pesquisas Espaciais</span>
                  <span>⁴Universidade Federal do Rio de Janeiro</span>
              </div>
            </div>
          </div>
          <div class="resume-section">
            <div class="resume-header">
                <span>Resumo</span>
            </div>
            <div class="resume-content" id="resume-content">
              <div id="show-less">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
                </p>
                <a class="btn-show-more" id="btn-show-more">ver mais</a>
              </div>
              <div class="additional-content" id="additional-content">
                <p>Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.</p>
                <p>Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.</p>
                <p>Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="comment-section">
            <div class="comment-title">
              <span>Discussões</span>
            </div>
            <div class="p-15">
              <div class="comment-header" id="form-data">
                <div class="comment-span">
                  <span>Compartilhe suas ideias ou dúvidas com os autores!</span>
                </div>
                <div class="comment-icons">
                  <img src="../assets/icone1.svg">
                  <img src="../assets/icone2.svg">
                  <img src="../assets/icone3.svg">
                </div>
                <div class="comment-span-description">
                  <span>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</span>
                </div>
                <div class="div-create">
                  <button class="btn-create-topic" id="btn-create"><i class="fa fa-plus"></i> criar tópico</button>
                </div>
              </div>
              <div class="comment-cards">
                <div class="answered-topic">
                  <div>
                    <h4 class="ops-topic-subject">Assunto da pergunta aqui!</h4>
                    <small>Carlos Henrique Santos</small>
                  </div>
                  <div class="comments-container">
                    <span>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</span>
                  </div>
                  <div class="comments-footer">
                    <div id="footer-icons">
                      <i class="fa fa-ellipsis-vertical"></i>
                      <i class="fa-regular fa fa-heart" id="fa-heart"></i>
                      <span> 1 Like </span>
                      <span> 2 Comments</span>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
          <div class="page-footer">
            <img class="image-footer" src="../assets/footer-image.svg" width="100%">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>